.DS_Store
.dccache
.java-version
.classpath
.project
.settings/
.idea/
*.iml
.scannerwork/

src/WEB-INF/
src/main/resources/benchmark.properties
target/
testfiles/
tools/Contrast/contrast.jar
tools/Contrast/contrast.yaml
tools/Contrast/working/
iast-tool/
immunity-agent.jar
benchmark-server.log
benchmark-server.pid
security/.env.local
